
body {
    background-color: #f6f6f6;
}

.w {
    width: 1190px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

header {
    height: 80px;
    background-color: #020000;
}

/*快速导航栏*/
.shortcut {
    background-color: #e3e4e5;
    height: 30px;
    border-bottom: 1px solid #dddddd;
}